.app .background{
    margin-left: 65px;
    margin-right: 65px;
    background-color: rgb(255, 255, 255);
    min-height: 750px;
    border-radius: 30px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    display:flow-root;
    justify-items: center;
    text-align: center;
}

.app .title{
    display: block;
    width: 100%;
    flex-grow: 2;
    font-size: 2.4rem;
    border-bottom: 2px solid;
    border-color: black;
    border-radius: 2px;
}

.app .title2{
    display: ruby-base;
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 2px solid;
    border-color: black;
    border-radius: 2px;
    margin-top: 25px;
}

.app .content{
    margin: 20px;
}

.app p{
    margin: 20px;
}

.app .game{
    
}