.app .background {
    margin-left: 65px;
    margin-right: 65px;
    background-color: rgb(255, 255, 255);
    min-height: 750px;
    border-radius: 30px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app .content {
    position: inherit;
    margin: 20px;
    margin-bottom: auto;
    ;
}

.app .title {
    display: block;
    width: 90%;
    font-size: 2.4rem;
    border-bottom: 2px solid;
    border-color: black;
    border-radius: 2px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.app .title2 {
    display: ruby-base;
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 2px solid;
    border-color: black;
    border-radius: 2px;
    margin-top: 25px;
}

.app .content .blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .content .blog img {
    height: 400px;
}

.app .content .blog .author {
    margin-top: auto;
    border-top: 2px solid;
    border-color: black;
    border-radius: 2px;
    display: inline;
    padding: 10px;
}

.app p {
    margin: 20px;
}

.app .game {}

.app .banner{
    height: 500px;
}

@media only screen and (max-width: 900px) {
    .app .background {
        margin-left: 0px;
        margin-right: 0px;
        background-color: rgb(255, 255, 255);
        min-height: 75vh;
    }
}